#text-transformator #main-container {
    max-width: 1140px;
    margin: auto;
}

#text-transformator .header-title {
    font-size: 1.575rem;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(90deg, #5170ff, #ff66c4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


#text-transformator .header-title-desc {
    font-size: 1rem;
}

#text-transformator .separator-title {
    font-size: 1rem;
    color: #ff5757;
    font-weight: bold;
    padding: 1rem 0 1rem 0;
}

#text-transformator .toggle-container {
    border: 1px #3d3d3d solid;
    border-radius: 0.5rem;
    padding: 0.8rem;
    box-sizing: border-box;
}

#text-transformator .input-type-container {
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
}

#text-transformator .toggle-container li,
#text-transformator .input-type-container li {
    display: inline-block;
    padding: 0 1rem 0 0;
    font-size: 1rem;
}

#text-transformator .switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#text-transformator .switch input {
    display: none;
}

#text-transformator .slider {
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 20px;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 34px;
}

#text-transformator .slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    top: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

#text-transformator .switch input:checked+.slider {
    background-color: #4caf50;
}

#text-transformator .switch input:checked+.slider::before {
    transform: translateX(22px);
}

#text-transformator .slider::before {
    width: 14px;
    height: 14px;
}

#text-transformator .switch input:checked+.slider::before {
    transform: translateX(16px);
}

#text-transformator .input-type-container>li>span.fa {
    padding-left: 1rem;
}

#text-transformator textarea.inputArea {
    background: #f0f0f0;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 10px;
}

#text-transformator .optionParameterContainer {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
    border: 1px #3d3d3d solid;
    border-radius: 0.5rem;
    padding: 0.8rem;
    box-sizing: border-box;
}

#text-transformator .horizontal-list {
    margin: 0;
    padding: 0 0 1rem 0;
}

#text-transformator .horizontal-list li {
    display: inline-block;
    padding: 0 0.8rem 0 0;
}


#text-transformator .footer-menu {
    padding: 1rem 0 1rem 0;
    margin: 0;
}

#text-transformator .footer-menu li {
    display: inline-block;
    padding: 0 0.8rem 0 0;
}

#text-transformator .hidden {
    display: none;
}

#text-transformator .shown {
    display: inline-block;
}


#text-transformator .section-title {
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 0 1rem 0;
}

#text-transformator .enrichment-container,
#text-transformator .replacement-container,
#text-transformator .visualization-container,
#text-transformator .capitalization-container {
    width: 25%;
    padding: 0 2rem 0px 0px;
}

#text-transformator .capitalization-container select {
    width: 90%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1rem #dadada solid;
    border-radius: 0.5rem;
}



#text-transformator .enrichment-container select {
    width: 120px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1rem #dadada solid;
    border-radius: 0.5rem;
    margin: 0 0 0.5rem 0;
}

#text-transformator .replacement-container input[type="text"],
#text-transformator .enrichment-container input[type="text"] {
    width: 90%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0.1rem #dadada solid;
    border-radius: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
}

#text-transformator .green-button {
    margin: 1.5rem 0 0 0;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: white;
    background: #00d54f;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;

}

#text-transformator .red-button {
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: white;
    background: #fd4949;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}

#text-transformator button .fa {
    padding-right: 1rem;
}

#text-transformator .purple-button {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: white;
    background: #ad5389;
    background: linear-gradient(90deg,
            #ff66c4 0%,
            #5170ff 100%);
    border: none;
    box-shadow: 0px 3px 5px 0px #8b8b8b;
    letter-spacing: 0.05em;
    border-radius: 0.5rem;
    margin: auto;
}

#text-transformator .button-container {
    width: 100%;
    text-align: center;
}

#text-transformator .input-container {
    padding: 0;
}


#text-transformator .output-container {
    width: 100%;
    background: #fafafa;
    border-radius: 0.5rem;
    box-shadow: 0px 3px 5px 0px #dadada;
}

#text-transformator .output-box {
    padding: 1rem;
    font-size: 18px;
}