#text-transformator #main-container {
    max-width: 1140px;
    margin: auto;
}

#text-transformator .header-title {
    font-size: 1.575rem;
    font-weight: bold;
    display: inline-block;
    background: linear-gradient(90deg, #5170ff, #ff66c4);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}


#text-transformator .header-title-desc {
    font-size: 1rem;
}

#text-transformator .separator-title {
    font-size: 1rem;
    color: #ff5757;
    font-weight: bold;
    padding: 0.5rem 0 0.5rem 0;
}

#text-transformator .toggle-container,
#text-transformator .input-type-container {
    margin: 0;
    padding: 0.5rem 0 0.5rem 0;
}

#text-transformator .toggle-container li,
#text-transformator .input-type-container li {
    display: inline-block;
    padding: 0 1rem 0 0;
    font-size: 1rem;
}

#text-transformator .switch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

#text-transformator .switch input {
    display: none;
}

#text-transformator .slider {
    cursor: pointer;
    position: relative;
    width: 36px;
    height: 20px;
    background-color: #ccc;
    transition: 0.3s;
    border-radius: 34px;
}

#text-transformator .slider::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    top: 3px;
    background-color: white;
    transition: 0.3s;
    border-radius: 50%;
}

#text-transformator .switch input:checked+.slider {
    background-color: #4caf50;
}

#text-transformator .switch input:checked+.slider::before {
    transform: translateX(22px);
}

#text-transformator .slider::before {
    width: 14px;
    height: 14px;
}

#text-transformator .switch input:checked+.slider::before {
    transform: translateX(16px);
}

#text-transformator .input-type-container>li>span.fa {
    padding-left: 1rem;
}

#text-transformator textarea.inputArea {
    background: #f0f0f0;
    width: 100%;
    border: 0;
    border-radius: 10px;
}

#text-transformator .optionParameterContainer {
    display: inline-flex;
    align-items: baseline;
}

#text-transformator .horizontal-list {
    margin: 0;
    padding: 1rem 0 1rem 0;
}

#text-transformator .horizontal-list li {
    display: inline-block;
    padding: 0 0.8rem 0 0;
}


#text-transformator .footer-menu {
    padding: 1rem 0 1rem 0;
    margin: 0;
}

#text-transformator .footer-menu li {
    display: inline-block;
    padding: 0 0.8rem 0 0;
}

#text-transformator .hidden {
    display: none;
}

#text-transformator .shown {
    display: inline-block;
}